@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  @apply hover:text-red-600 cursor-pointer mx-2
}
.active {
  @apply border-red-600 border-b-2 text-red-600 !important
}

.slick-dots li button:before {
  @apply hidden !important;
}
.nav {
  @apply flex justify-between z-10 sticky top-0 border-b-2 bg-slate-950 text-white p-3
}
.inputSearch {
  @apply w-96 bg-slate-800 focus:outline-none focus:ring-0 placeholder:text-white placeholder:ml-5 border-none
}
.responsive {
  @apply top-20 bg-slate-950 flex flex-col border-b-2 gap-5 text-white overflow-hidden p-3
}
.links {
  @apply lg:flex lg:flex-row text-lg lg:items-center flex-col items-center lg:mr-44
}
html, body {
  box-sizing: border-box;
}
.reviewsContainer {
 @apply text-white flex lg:flex-row lg:justify-center flex-col justify-center gap-5 p-5
}
.animation {
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.backface-visibility {
  backface-visibility: hidden;
}
.rotateY {
  transform: rotateY(180deg);
}
.front:hover {
  transform: rotateY(180deg);
  cursor: pointer;
}
.translate {
  transform: translate(-50%, -50%);
}
.true {
  @apply bg-slate-600 transition-all
}
.genreBtn {
  @apply hover:bg-slate-600 py-2 px-3 rounded-md w-full transition-all
}
.MuiPagination-root button {
  color: white !important;
}
.MuiPaginationItem-root.Mui-selected {
  background-color: rgb(220 38 38) !important;
  color: white !important;
}




::-webkit-scrollbar{width:.3rem;border-left:1px solid var(--border);height:.5rem;}
::-webkit-scrollbar-thumb {
  background-color: rgb(220 38 38);
  border-radius: 1rem;
  transform: translateX(-50%);
}

::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 1rem;
  
}